.App {
  text-align: center;
}

.Search {
  background-color: gray;
  margin: 20px;
  border: 2px solid gray;
  border-radius: 5px;
  color: white;
}

.Id{
  margin: 20px;
}

.People{
  margin: 20px;
  background-color: rgb(54, 69, 119);
  color: white;
  border-radius: 5px;
  height: 30px;
  width: 100px;
}